### Define variable and print variable

In [1]:
fruits = "apple"
fruits

'apple'

In [2]:
fruits = "watermelon"
fruits

'watermelon'

In [3]:
type(fruits)

str

### write your first program with print

In [4]:
print(" This is my first program in Python")

 This is my first program in Python

### Let us understand various types of data type in Python

In [7]:
# integer data type
data = 9
data

9

In [6]:
type(data)

int

In [8]:
# Float data type 
data = 9.6
data

9.6

In [9]:
type(data)

float

In [10]:
# string data type 
data = "hello world"
data

'hello world'

In [11]:
type(data)

str

In [12]:
# Boolean data type 
data = False
data

False

In [13]:
type(data)

bool

In [14]:
# Complex data type 
data = 5 +3j
data

(5+3j)

In [15]:
type(data)

complex

### Let us understand Arithmatic operators +,-, *, /

In [16]:
a = 20 
b = 30

In [17]:
a, b

(20, 30)

In [18]:
a + b

50

In [19]:
a - b

-10

In [20]:
a * b

600

In [23]:
a / b

0.6666666666666666

### Let us understand relational operators < , >, ==, !=

In [25]:
a = 30 
b = 40

In [26]:
a , b

(30, 40)

In [27]:
a > b

False

In [28]:
a < b

True

In [29]:
a == b

False

In [30]:
a != b

True

### Let us use logical operators &, |

In [31]:
a = True 
b = False 
a, b

(True, False)

In [32]:
a & b

False

In [33]:
a  & a

True

In [34]:
a | b

True

In [35]:
a | b

True

In [36]:
b | b

False

In [37]:
a & a, a & b, b & b, a | a, a | b, b |b

(True, False, False, True, True, False)

###  identifiers are case sensitives

In [38]:
student = "raza"
Student = "Ishika"

In [39]:
student

'raza'

In [40]:
Student

'Ishika'

### Store data value in variable, literals mean they are constant, it does not change value

In [42]:
str1 = "this is my first string"
str1

'this is my first string'

In [43]:
str2 = 'this is my first string'
str2

'this is my first string'

In [44]:
str3 = '''
This string 
has lots of lines
in it 
'''
str3

'\nThis string \nhas lots of lines\nin it \n'

### Let us understand string and indexing of strings

In [45]:
my_string = "My name is Neema"
my_string

'My name is Neema'

In [46]:
## Extract the first character of the string 
my_string[0]

'M'

In [47]:
my_string[-1]

'a'

In [48]:
my_string[0], my_string[1],my_string[2], my_string[3],my_string[4]

('M', 'y', ' ', 'n', 'a')

In [49]:
my_string[0,1,2,3,4]

TypeError: string indices must be integers

In [50]:
my_string[::-1]

'ameeN si eman yM'

In [52]:
my_string[0:5]

'My na'

In [55]:
my_string[4:-1]

'ame is Neem'

In [56]:
my_string[-1],my_string[-14]

('a', ' ')

In [57]:
my_string[100]

IndexError: string index out of range

In [58]:
my_string[-19]

IndexError: string index out of range

### let us understand sting functions

In [51]:
# determine the length of the string
len(my_string)

16

In [59]:
# change the string to upper case 
my_string.upper()

'MY NAME IS NEEMA'

In [ ]:
# change the string to lower case

In [60]:
my_string.lower()

'my name is neema'

### replace the substring

In [61]:
my_string.replace('y','a')

'Ma name is Neema'

In [66]:
my_string = "My name is Neema"
my_string.replace('Neema','Neha')

'My name is Neha'

In [62]:
new_string = "hello hello hello"
new_string

'hello hello hello'

In [68]:
new_string.count('hello')

3

In [69]:
new_string = "hello hello hello 100 100 100 100"
new_string

'hello hello hello 100 100 100 100'

In [70]:
new_string.count('100')

4

### finding the index of the substring

In [71]:
string1 = "today is Monday"
string1.find('Monday')

9

### Let us understand splitting of the string

In [72]:
fruits = 'I like apple, mangoes, bananas'
fruits.split(',')

['I like apple', ' mangoes', ' bananas']

In [73]:
str_final = 'President Dr. Abdul Kalam was the best president of India'
str_final.split('e')

['Pr', 'sid', 'nt Dr. Abdul Kalam was th', ' b', 'st pr', 'sid', 'nt of India']

### Let us understand Tuple

In [74]:
tup1 = (1,12.3,3+5j, "hello", True)
tup1

(1, 12.3, (3+5j), 'hello', True)

In [75]:
type(tup1)

tuple

### Let us understand indexing of tuple

In [76]:
tup2 = (4,True,10.5,4+5j, 'apple',False)
tup2

(4, True, 10.5, (4+5j), 'apple', False)

tup2[0]

In [78]:
tup2[0],tup2[1],tup2[2],tup2[3],tup2[4],tup2[5]

(4, True, 10.5, (4+5j), 'apple', False)

In [79]:
tup2[::-1]

(False, 'apple', (4+5j), 10.5, True, 4)

In [80]:
tup2[2:4]

(10.5, (4+5j))

### Let us try to modify the tuple

In [81]:
tup2[1] = 'hello'

TypeError: 'tuple' object does not support item assignment

### Let us understand tuple functions and methods

In [83]:
tup2 = (4,True,10.5,4+5j, 'apple',False)
tup2

(4, True, 10.5, (4+5j), 'apple', False)

In [84]:
len(tup2)

6

## let us do concatenating tuples

In [86]:
tuple1 = (1,2,3,4)
tuple2 = (5,6,7,8)

In [87]:
tuple1 + tuple2

(1, 2, 3, 4, 5, 6, 7, 8)

In [88]:
tuple2 + tuple1

(5, 6, 7, 8, 1, 2, 3, 4)

In [90]:
### Repeat tuple multiple times 
tup3 = ('apple',300)
tup3 * 5

('apple', 300, 'apple', 300, 'apple', 300, 'apple', 300, 'apple', 300)

In [91]:
### Let us multiply and Concatenating two tuples 
tup1 = ('apple', 300)
tup2 = (4,5,6)
tup1 * 5 + tup2

('apple', 300, 'apple', 300, 'apple', 300, 'apple', 300, 'apple', 300, 4, 5, 6)

In [92]:
### Let us multiply and Concatenating two tuples 
tup1 = ('apple', 300)
tup2 = (4,5,6)
tup2 * 5 + tup1

(4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 'apple', 300)

### Find the minimum value in the tuple

In [93]:
tup1 = (11,12,13,14,15,16,17,18,19,20)
min(tup1)

11

### Find the maximum value in the tuple

In [94]:
tup1 = (11,12,13,14,15,16,17,18,19,20)
max(tup1)

20

### List in Python

In [95]:
l1 = [1,'India', 3.14, True, False, 5 +3j]
l1

[1, 'India', 3.14, True, False, (5+3j)]

### Extracting individual elements in list

In [99]:
l1 = [1,'India', 3.14, True, False, 5 +3j]
l1[0], l1[1], l1[2], l1[3],l1[4],l1[5]

(1, 'India', 3.14, True, False, (5+3j))

### Extracting sequence of elements in list

In [100]:
l1 = [1,'India', 3.14, True, False, 5 +3j]
l1[0:6]

[1, 'India', 3.14, True, False, (5+3j)]

In [98]:
l1 = [1,'India', 3.14, True, False, 5 +3j]
l1[::-1]

[(5+3j), False, True, 3.14, 'India', 1]

### Modifying a list

In [101]:
l1 = [1,'India', 3.14, True, False, 5 +3j]
l1

[1, 'India', 3.14, True, False, (5+3j)]

In [102]:
l1 = [1,'India', 3.14, True, False, 5 +3j]
l1[0]=100
l1

[100, 'India', 3.14, True, False, (5+3j)]

In [103]:
### append the element in the list 
l1 = [1,'India', 3.14, True, False, 5 +3j]
l1.append('Germany')
l1

[1, 'India', 3.14, True, False, (5+3j), 'Germany']

In [105]:
# remove element in the list 

l1 = [1,'India', 3.14, True, False, 5 +3j]
l1.pop()
l1

[1, 'India', 3.14, True, False]

In [106]:
# remove element in the list 

l1 = [1,'India', 3.14, True, False, 5 +3j]
l1.remove('India')
l1

[1, 3.14, True, False, (5+3j)]

In [107]:
# reverse elements in the list 

l1 = [1,'India', 3.14, True, False, 5 +3j]
l1.reverse()
l1

[(5+3j), False, True, 3.14, 'India', 1]

In [108]:
# Add element in the list 
l1 = [1,'India', 3.14, True, False, 5 +3j]
l1.insert(1,'usa')
l1

[1, 'usa', 'India', 3.14, True, False, (5+3j)]

In [110]:
### Sorting a list in alphabetical order 
l1 = ["pipeapple", "watermelon", "strawberry", "kiwi", "apple"]
l1.sort()
l1

['apple', 'kiwi', 'pipeapple', 'strawberry', 'watermelon']

In [111]:
### Sorting a list in alphabetical order 
l1 = ["Pipeapple", "watermelon", "Strawberry", "kiwi", "apple"]
l1.sort()
l1

['Pipeapple', 'Strawberry', 'apple', 'kiwi', 'watermelon']

In [112]:
### Sorting a list in alphabetical order 
l1 = [23,24, 1,7,67,45,4, 10]
l1.sort()
l1

[1, 4, 7, 10, 23, 24, 45, 67]

In [118]:
### Sorting a list in alphabetical order 
l1 = ["apple","grapes", "Banana","Blueberry"]
l1.sort()
l1

['Banana', 'Blueberry', 'apple', 'grapes']

### List concatenating

In [119]:
l1 = [1,2,3]
l2 = ['a','b','c']
l1+l2

[1, 2, 3, 'a', 'b', 'c']

### Repeating elements

In [120]:
l1 = [1,2,3]
l1 * 4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [121]:
l1 = [1,2,3]
l2 = ['a','b','c']
l1 * 3 +l2

[1, 2, 3, 1, 2, 3, 1, 2, 3, 'a', 'b', 'c']

In [123]:
l1 = [1,2,3]
l2 = ['a','b','c']
l2 * 5 + l1

['a',
 'b',
 'c',
 'a',
 'b',
 'c',
 'a',
 'b',
 'c',
 'a',
 'b',
 'c',
 'a',
 'b',
 'c',
 1,
 2,
 3]

### Let us understand Dictionary

In [124]:
d1 = {'Apple': 200, 'Guava': 100, 'Oranges':150, 'Strawberries': 300}
d1

{'Apple': 200, 'Guava': 100, 'Oranges': 150, 'Strawberries': 300}

In [127]:
type(d1)

dict

In [129]:
fruits = {'Apple': 200, 'Guava': 100, 'Oranges':150, 'Strawberries': 300}
fruits.keys()

dict_keys(['Apple', 'Guava', 'Oranges', 'Strawberries'])

In [130]:
fruits = {'Apple': 200, 'Guava': 100, 'Oranges':150, 'Strawberries': 300}
fruits.values()

dict_values([200, 100, 150, 300])

In [131]:
### modifying value of any specific key 
fruits = {'Apple': 200, 'Guava': 100, 'Oranges':150, 'Strawberries': 300}
fruits['Apple'] = 300
fruits

{'Apple': 300, 'Guava': 100, 'Oranges': 150, 'Strawberries': 300}