# Lambda function

In [1]:
 g = lambda x:x*x*x

In [2]:
g(3)

27

In [3]:
g = lambda x:x+x+x

In [4]:
g(3)

9

Lambda with Filter

In [5]:
l1 = [54,22,56,33,17,20,10,15,112]

filter_even=list(filter(lambda x: (x%2!=0),l1))
filter_odd=list(filter(lambda x: (x%2==0),l1))

print('even list: ',filter_even,' odd list: ',filter_odd)

even list:  [33, 17, 15]  odd list:  [54, 22, 56, 20, 10, 112]

In [6]:
list(filter( lambda x: x>30,l1))

[54, 56, 33, 112]

Lambda with map

In [7]:
ll = [1,2,3,4,5,6,7,8,9]

List = list(map(lambda x: x+2 ,ll))
List

[3, 4, 5, 6, 7, 8, 9, 10, 11]

In [8]:
list(map(lambda x: x*x,ll))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

if we want to reduce a sequence a sequence and want result we use functools and reduce

we will add elements in list l1 and sum value will be stored in sum

In [9]:
l1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

from functools import reduce
sum = reduce(lambda x,y : x+y,l1)
sum

210

# Object oriented Programming concept
## let us take example to understand

In [10]:
class phone:
    def Make_call(self):
        print('make a call')
    def play_game(self):
        print('i am not intresed to play game with you')

In [11]:
#creating an object of class phone
p1=phone()

In [12]:
p1.Make_call()

make a call

In [13]:
p1.play_game()

i am not intresed to play game with you

In [14]:
class Anjuman:
    def Attendence(self,attend):
        self.attend = input('Are you attending the class (y/n)?')
        if 'y' in attend:
            print('Good')
        else:
            print('As you wish')
            
    def Sports(self,sport_name):
        self.sport_name= input('Enter your favorite sports name (Cricket,Football,etc)?')
        
        if 'Cricket' in sport_name:
            print('please go to kasturchand park for the match')
            
        elif 'football'in sport_name:
            print('sorry the match over')
        
        else:
            print('seats for other sport are full')

In [15]:
A = Anjuman()

In [16]:
A.Attendence('attend')

Are you attending the class (y/n)?
As you wish

In [17]:
A.Sports('sport_name')

Enter your favorite sports name (Cricket,Football,etc)?
seats for other sport are full

Creating a class with constructure

In [18]:
class Employee:
    def personal(self):
        self.name=input('Enter your name please: ')
        self.age= input('enter your age please: ')
        self.salary=int(input('Enter you salary ampount: '))
        self.gender= input('enter your gender(M/F): ')
        
    def Employee_detail(self):
        print('name of the employee is',self.name)
        print('Age of the employee is',self.age)
        print('Salary of the employee is',self.salary)
        print('Gender of the employee is',self.gender)

In [19]:
E1= Employee()

In [20]:
E1.personal()

Enter your name please:
enter your age please:
Enter you salary ampount:

ValueError: invalid literal for int() with base 10: ''

In [ ]:
E1.Employee_detail()

In [21]:
class Employee:
    def __init__(self,name,age,salary,gender):
        self.name=name
        self.age= age
        self.salary=salary
        self.gender=gender
        
    def Employee_detail(self):
        print('name of the employee is',self.name)
        print('Age of the employee is',self.age)
        print('Salary of the employee is',self.salary)
        print('Gender of the employee is',self.gender)

In [22]:
e1=Employee('tausif kurehi',20,20000,'male')

In [23]:
e1.Employee_detail()

name of the employee is tausif kurehi
Age of the employee is 20
Salary of the employee is 20000
Gender of the employee is male

# Inheritence

In [24]:
#parent class

In [25]:
class Engineering:
    def __init__(self,milage,cost):
        self.milage=milage
        self.cost=cost
        
    def show_details(self):
        print('I am a vehicle')
        print('milage of the vehicle: ',self.milage)
        print('cost of the vehicle: ',self.cost)

In [26]:
V1 = Engineering(35,20000)

In [27]:
V1.show_details()

I am a vehicle
milage of the vehicle:  35
cost of the vehicle:  20000

In [28]:
#child class

In [29]:
class car(Engineering):
    def __init__(self,milage,cost,tyres,hp):
        super().__init__(milage,cost)
        self.tyres=tyres
        self.hp=hp
        
    def show_car_details(self):
        print('I am a car')
        print('my milage is: ',self.milage)
        print('costof car: ',self.cost)
        print('Number of tyres: ',self.tyres)
        print('value of horse power: ', self.hp)

In [30]:
C = car(35,2000,1,500)

In [31]:
C.show_car_details()
C.show_details()

I am a car
my milage is:  35
costof car:  2000
Number of tyres:  1
value of horse power:  500
I am a vehicle
milage of the vehicle:  35
cost of the vehicle:  2000

# Multiple inheritance

In [32]:
#parent 1

In [33]:
class parent1:
    def __init__(self,name,address,education):
        self.name=name
        self.address=address
        self.education=education
        
    def show_papa_details(self):
        print('Applicants name: ',self.name)
        print('Applicants address: ',self.address)
        print('Applicants education: ',self.education)

In [34]:
p1 = parent1('Sabeer Kureshi','mata nagar','HSC')

In [35]:
p1.show_papa_details()

Applicants name:  Sabeer Kureshi
Applicants address:  mata nagar
Applicants education:  HSC

In [36]:
class parent2:
    def __init__(self,name,address,education):
        self.name=name
        self.address=address
        self.education=education
        
    def show_mamma_details(self):
        print('Applicants name: ',self.name)
        print('Applicants address: ',self.address)
        print('Applicants education: ',self.education)

In [37]:
p2 = parent2('Shabana kureshi','Tumsar','SSC')

In [38]:
p2.show_mamma_details()

Applicants name:  Shabana kureshi
Applicants address:  Tumsar
Applicants education:  SSC

In [50]:
class child(parent1, parent2):
    def __init__(self, name, address, education):
        super().__init__(name, address, education)

    def Child_detail(self):
        # Call the show_papa_details method from parent1
        super().show_papa_details()
        
        # Call the show_mamma_details method from parent2
        super().show_mamma_details()

In [53]:
CC=child('Tausif kureshi','koradi','Graduate')

In [54]:
CC.show_papa_details()

Applicants name:  Tausif kureshi
Applicants address:  koradi
Applicants education:  Graduate

In [ ]:
CC.