# Dictionary

In [1]:
dict1 ={"apple": 200,"banana":500,"guava":150,"pineapple":300}

In [2]:
type(dict1)

dict

# kyes

In [3]:
dict1.keys()

dict_keys(['apple', 'banana', 'guava', 'pineapple'])

# values

In [4]:
dict1.values()

dict_values([200, 500, 150, 300])

# adding new element

In [5]:
dict1["Kiwi"]=200

In [6]:
dict1

{'apple': 200, 'banana': 500, 'guava': 150, 'pineapple': 300, 'Kiwi': 200}

# changing the value of existing key

In [7]:
dict1["kiWi"]=100

# removing the key and value from dictionary

In [8]:
dict1.pop("Kiwi")

200

In [9]:
dict1

{'apple': 200, 'banana': 500, 'guava': 150, 'pineapple': 300, 'kiWi': 100}

In [10]:
dict1.pop("kiWi")

100

In [11]:
dict1

{'apple': 200, 'banana': 500, 'guava': 150, 'pineapple': 300}

# update dictionary with another dictionary

In [12]:
D1 = {"K1":11,"K2":22,"K3":33}
D2 = {"k1":12,"k2":13,"k3":14}

In [13]:
D1.update(D2)

In [14]:
D1

{'K1': 11, 'K2': 22, 'K3': 33, 'k1': 12, 'k2': 13, 'k3': 14}

# Sets
it does not allow duplication in the set

In [15]:
S1 ={1,1.14,3.14,3.14,3.14,'india','india','tausif',3+2j}

In [16]:
S1

{(3+2j), 1, 1.14, 3.14, 'india', 'tausif'}

In [17]:
type(S1)

set

# Update the set value
we can add multiple values with the help of list

In [18]:
S1.add(1+3j)

In [19]:
S1

{(1+3j), (3+2j), 1, 1.14, 3.14, 'india', 'tausif'}

In [20]:
S1.add("hello",1,True)

TypeError: set.add() takes exactly one argument (3 given)

In [21]:
S1.update([1,20,3,25,'true',True])
S1

{(1+3j), (3+2j), 1, 1.14, 20, 25, 3, 3.14, 'india', 'tausif', 'true'}

In [22]:
S1.update('shahrukh','SALMAN','ususf')
S1

{(1+3j),
 (3+2j),
 1,
 1.14,
 20,
 25,
 3,
 3.14,
 'A',
 'L',
 'M',
 'N',
 'S',
 'a',
 'f',
 'h',
 'india',
 'k',
 'r',
 's',
 'tausif',
 'true',
 'u'}

In [23]:
S1.update({"tausif":200,"Sabeer":500,"kureshi":700})

In [24]:
S1

{(1+3j),
 (3+2j),
 1,
 1.14,
 20,
 25,
 3,
 3.14,
 'A',
 'L',
 'M',
 'N',
 'S',
 'Sabeer',
 'a',
 'f',
 'h',
 'india',
 'k',
 'kureshi',
 'r',
 's',
 'tausif',
 'true',
 'u'}

In [25]:
S1.remove("shahrukh")

KeyError: 'shahrukh'

In [26]:
S1.remove("SALMAN","ususf",'s','r','u','A','L','M')

TypeError: set.remove() takes exactly one argument (8 given)

In [27]:
S1

{(1+3j),
 (3+2j),
 1,
 1.14,
 20,
 25,
 3,
 3.14,
 'A',
 'L',
 'M',
 'N',
 'S',
 'Sabeer',
 'a',
 'f',
 'h',
 'india',
 'k',
 'kureshi',
 'r',
 's',
 'tausif',
 'true',
 'u'}

# intersection of two Sets

In [28]:
Sets ={1,2,3,4,5,6,7,8,9}
sets ={'A','B','C','D','E',1,2,3,55,44}
Sets.intersection(sets)

{1, 2, 3}

# starting with if.....else..

In [29]:
a = int(input("Enter first Digit: "))
b = int(input("enter second digit: "))
c = int(input("enter third digit: "))


if a>b and a>c:
    print("first digit is greater")
    
elif a<b and b>c:
    print("second digit is greater")

elif a<b and b<c:
    print("third digit is greater")

Enter first Digit: 10
enter second digit: 15
enter third digit: 25
third digit is greater

# if... else with tuple

In [30]:
tuple1 =("tausif","sabeer","kureshi",1)
tuple2 =("tausif","sabeer","kureshi",1)

In [31]:
if tuple1 == tuple2:
    print("both are the same ")
else:
    print("both are not same")

both are the same

In [32]:
if 'Raji' in tuple1:
    print("present")
else:
    print("not present")

not present

In [35]:
i=0
while i==:
    print(i)
    i+=1

# if else with list

In [36]:
l1 = [1,'tausif',3+2j,True]

In [38]:
l1[0]

1

In [39]:
if l1[3]==True:
    print(l1[3])

True

In [45]:
a = input("Enter list element: ")
l1 = [a]  # Create the list after getting the input

Enter list element: true,55,True

In [46]:
l1

['true,55,True']

#  if... else with dictionaty

In [48]:
d1 ={"kk1":11,"kk2":22,"kk3":33}
d2 ={"k1k":12,"k2k":22,"k2k":32}

In [50]:
i = 0
while i<3:
    if d1[""]==d2["kik"]:
        print("matches at key value"+kki+"and"+kik)

KeyError: 'kki'

# while loop statement

In [58]:
i=1
a=int(input("enter value: "))
while i<=1000:
    if i % a ==0:
        print(i)
    i=i+1

enter value: 180
180
360
540
720
900

In [80]:
a = int(input("enter number "))

i=1
while i<=a:
   
    print(i*"*")
  
    i=i+1

enter number 5
*
**
***
****
*****

In [89]:


def addition():
    return a+b
def multiplication():
    return a*b
def division():
    return a/b
def substraction():
    return a-b

In [90]:
a = int(input("enter the nunber: "))
b = int(input("enter the number: "))
print('''***main***
        1.multiplication
        2.addition
        3.substration
        4. division''')
x = int(input("ebter the operation number: "))
if x==1 :
    multiplication(a,b)
elif x==2:
    addition(a,b)
elif x==3:
    substraction(a,b)
else:
    division(a,b)

enter the nunber: 4
enter the number: 5
***main***
        1.multiplication
        2.addition
        3.substration
        4. division
ebter the operation number: 2

TypeError: addition() takes 0 positional arguments but 2 were given

In [91]:
def multiplication_20(x):
    return x*20
multiplication_20(20)

400