### Let us import Panda Library

In [ ]:
pip install pandas

### Pandas stands for Panel Data. It is core library for data manipulation and data Analysis
### It consists of single and multi-dimensional data-structures for data manipulation.

In [1]:
import pandas as pd 
s1 = pd.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [2]:
type(s1)

pandas.core.series.Series

### Changing index of the series

In [3]:
import pandas as pd 
s1 = pd.Series([1,2,3,4,5], index = ['a','b','c','d','e'])
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

### Create a series object from a dictionary

In [4]:
import pandas as pd 
s1 = pd.Series({'a':10, 'b':20, 'c':30 })
s1

a    10
b    20
c    30
dtype: int64

### Changing Index Position 
### Extracting a single element

In [5]:
import pandas as pd 
s1 = pd.Series({'a':10, 'b':20, 'c':30 }, index = ['b','c','d','a'])
s1

b    20.0
c    30.0
d     NaN
a    10.0
dtype: float64

In [6]:
import pandas as pd 
s3 = pd.Series([1,2,3,4,5,6,7,8,9,10])
s3

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [7]:
import pandas as pd 
s3 = pd.Series([1,2,3,4,5,6,7,8,9,10])
s3[4],s3[8]

(5, 9)

In [8]:
s3

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [11]:
### Extracting a sequence of elements 
import pandas as pd 
s3 = pd.Series([1,2,3,4,5,6,7,8,9,10])
s3[0:5]

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
import pandas as pd 
s3 = pd.Series([1,2,3,4,5,6,7,8,9,10])
s3[-4:]

6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
### Let us do some mathematical operations

In [12]:
import pandas as pd 
s1 = pd.Series([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15])
s1 + 20

0     21
1     22
2     23
3     24
4     25
5     26
6     27
7     28
8     29
9     30
10    31
11    32
12    33
13    34
14    35
dtype: int64

In [19]:
### Adding two Series objects 
import pandas as pd 
s1 = pd.Series([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15])
s2 = pd.Series([16,17,18,19,20,21,22,23,24,25,26,27,28,29])
s3 = s1 + s2
s3

0     17.0
1     19.0
2     21.0
3     23.0
4     25.0
5     27.0
6     29.0
7     31.0
8     33.0
9     35.0
10    37.0
11    39.0
12    41.0
13    43.0
14     NaN
dtype: float64

In [14]:
### subtracting two Series objects 
import pandas as pd 
s1 = pd.Series([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15])
s2 = pd.Series([16,17,18,19,20,21,22,23,24,25,26,27,28,29,30])
s3 = s1 - s2
s3

0    -15
1    -15
2    -15
3    -15
4    -15
5    -15
6    -15
7    -15
8    -15
9    -15
10   -15
11   -15
12   -15
13   -15
14   -15
dtype: int64

In [15]:
### Multiplying two Series objects 
import pandas as pd 
s1 = pd.Series([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15])
s2 = pd.Series([16,17,18,19,20,21,22,23,24,25,26,27,28,29,30])
s3 = s1 * s2
s3

0      16
1      34
2      54
3      76
4     100
5     126
6     154
7     184
8     216
9     250
10    286
11    324
12    364
13    406
14    450
dtype: int64

In [18]:
### Dividing two Series objects 
import pandas as pd 
s1 = pd.Series([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15])
s2 = pd.Series([16,17,18,19,20,21,22,23,24,25,26,27,28,29,30])
s3 = s2 / s1
s3

0     16.000000
1      8.500000
2      6.000000
3      4.750000
4      4.000000
5      3.500000
6      3.142857
7      2.875000
8      2.666667
9      2.500000
10     2.363636
11     2.250000
12     2.153846
13     2.071429
14     2.000000
dtype: float64

In [20]:
import pandas as pd 
s1 = pd.Series([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15])
s1 /0.5

0      2.0
1      4.0
2      6.0
3      8.0
4     10.0
5     12.0
6     14.0
7     16.0
8     18.0
9     20.0
10    22.0
11    24.0
12    26.0
13    28.0
14    30.0
dtype: float64

In [21]:
import pandas as pd 
s1 = pd.Series([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15])
s1 - 4

0     -3
1     -2
2     -1
3      0
4      1
5      2
6      3
7      4
8      5
9      6
10     7
11     8
12     9
13    10
14    11
dtype: int64

In [22]:
import pandas as pd 
s1 = pd.Series([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15])
s1 * 100

0      100
1      200
2      300
3      400
4      500
5      600
6      700
7      800
8      900
9     1000
10    1100
11    1200
12    1300
13    1400
14    1500
dtype: int64

### Create a Dataframe

In [23]:
import pandas as pd
df = pd.DataFrame({'Name':['Ram','Shyam','Sita','Meera'], "Marks": [77,87,50,60]})
df

    Name  Marks
0    Ram     77
1  Shyam     87
2   Sita     50
3  Meera     60

### Load Dataset named Iris

In [24]:
import pandas as pd
df = pd.read_csv('iris.csv')
df

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

### Show first five records of the dataset by using head function

In [25]:
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [26]:
df.head(10)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

### Show last  five records of the dataset by using tail function

In [27]:
df.tail()

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [28]:
df.tail(20)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
132           6.4          2.8           5.6          2.2  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

### Use Shape function

In [29]:
df.shape

(150, 5)

### Use describe function

In [30]:
df.describe

<bound method NDFrame.describe of      Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]>

In [31]:
df.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
### Show Selected rows and columns by using .iloc[]

In [32]:
df.iloc[0:5,0:5]

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [33]:
df.iloc[0:3,0:2]

   Sepal.Length  Sepal.Width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2

In [35]:
df.iloc[10:13,2:4]

    Petal.Length  Petal.Width
10           1.5          0.2
11           1.6          0.2
12           1.4          0.1

In [36]:
df.iloc[0:5,4:5]

  Species
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa

In [38]:
df.iloc[13:14,1:2]

    Sepal.Width
13          3.0

In [ ]:
### Show columns by using .iloc[], which uses column index 
### Here between rows 50 to 55m last index 55 is exclusive

In [39]:
df.iloc[50:55,1:]

    Sepal.Width  Petal.Length  Petal.Width     Species
50          3.2           4.7          1.4  versicolor
51          3.2           4.5          1.5  versicolor
52          3.1           4.9          1.5  versicolor
53          2.3           4.0          1.3  versicolor
54          2.8           4.6          1.5  versicolor

In [40]:
df.iloc[50:55,1:3]

    Sepal.Width  Petal.Length
50          3.2           4.7
51          3.2           4.5
52          3.1           4.9
53          2.3           4.0
54          2.8           4.6

In [ ]:
### Show Columns by using .loc[], which uses names of the columns 
### here rows 0 to 3 are inclusive

In [41]:
df.loc[0:3,('Sepal.Width','Petal.Width')]

   Sepal.Width  Petal.Width
0          3.5          0.2
1          3.0          0.2
2          3.2          0.2
3          3.1          0.2

In [42]:
df.loc[0:3,('Petal.Length','Species')]

   Petal.Length Species
0           1.4  setosa
1           1.4  setosa
2           1.3  setosa
3           1.5  setosa

In [52]:
import pandas as pd
df = pd.read_csv('iris.csv')
df

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

### Show names of the columns in data set

In [53]:
df.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

### Add new Column in the dataset

In [49]:
df['NUIntelligence'] = "Neema"
df

     Sepal.Width  Petal.Length  Petal.Width    Species NUIntelligence
0            3.5           1.4          0.2     setosa          Neema
1            3.0           1.4          0.2     setosa          Neema
2            3.2           1.3          0.2     setosa          Neema
3            3.1           1.5          0.2     setosa          Neema
4            3.6           1.4          0.2     setosa          Neema
..           ...           ...          ...        ...            ...
145          3.0           5.2          2.3  virginica          Neema
146          2.5           5.0          1.9  virginica          Neema
147          3.0           5.2          2.0  virginica          Neema
148          3.4           5.4          2.3  virginica          Neema
149          3.0           5.1          1.8  virginica          Neema

[150 rows x 5 columns]

In [58]:
df['NUIntelligence'] = "Neema"
df = df.drop("NUIntelligence", axis = 1)
df

     Sepal.Width  Petal.Length  Petal.Width    Species
0            3.5           1.4          0.2     setosa
1            3.0           1.4          0.2     setosa
2            3.2           1.3          0.2     setosa
3            3.1           1.5          0.2     setosa
4            3.6           1.4          0.2     setosa
..           ...           ...          ...        ...
145          3.0           5.2          2.3  virginica
146          2.5           5.0          1.9  virginica
147          3.0           5.2          2.0  virginica
148          3.4           5.4          2.3  virginica
149          3.0           5.1          1.8  virginica

[150 rows x 4 columns]

### Remove Column from the dataframe 
To drop rows use axis = 0, 
To drop columns use axis = 1

In [59]:
df = pd.read_csv('iris.csv')
df = df.drop("Species", axis = 1)
df

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

### Remove rows from the dataset

In [66]:
df = pd.read_csv('iris.csv')
df.drop([1,2,3], axis = 0)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
6             4.6          3.4           1.4          0.3     setosa
7             5.0          3.4           1.5          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[147 rows x 5 columns]

In [67]:
df

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

### Pandas Functions 
#### Mean Fucntion

In [68]:
df = pd.read_csv('iris.csv')
df.mean()

C:\Users\neema\AppData\Local\Temp\ipykernel_1336\2113827256.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

Sepal.Length    5.843333
Sepal.Width     3.057333
Petal.Length    3.758000
Petal.Width     1.199333
dtype: float64

In [69]:
df.median()

C:\Users\neema\AppData\Local\Temp\ipykernel_1336\530051474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

Sepal.Length    5.80
Sepal.Width     3.00
Petal.Length    4.35
Petal.Width     1.30
dtype: float64

In [70]:
df.std()

C:\Users\neema\AppData\Local\Temp\ipykernel_1336\3390915376.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

Sepal.Length    0.828066
Sepal.Width     0.435866
Petal.Length    1.765298
Petal.Width     0.762238
dtype: float64

In [71]:
df["Sepal.Length"].mean()

5.843333333333335

In [72]:
df["Sepal.Width"].mean()

3.057333333333334

In [73]:
df["Petal.Length"].mean()

3.7580000000000027

In [74]:
df["Petal.Width"].mean()

1.199333333333334

In [87]:
df[["Sepal.Length","Sepal.Width","Petal.Length","Petal.Width" ]].mean()

Sepal.Length    5.843333
Sepal.Width     3.057333
Petal.Length    3.758000
Petal.Width     1.199333
dtype: float64

### Median Function

In [75]:
df["Sepal.Length"].median()

5.8

In [76]:
df["Sepal.Width"].median()

3.0

In [77]:
df["Petal.Length"].median()

4.35

In [78]:
df["Petal.Width"].median()

1.3

In [88]:
df[["Sepal.Length","Sepal.Width","Petal.Length","Petal.Width" ]].median()

Sepal.Length    5.80
Sepal.Width     3.00
Petal.Length    4.35
Petal.Width     1.30
dtype: float64

### Standard Deviation function

In [83]:
### Get standard Deviation values for all columns 
df["Sepal.Length"].std()

0.8280661279778629

In [84]:
df["Sepal.Width"].std()

0.435866284936698

In [85]:
df["Petal.Length"].std()

1.7652982332594667

In [86]:
df["Petal.Width"].std()

0.7622376689603465

In [89]:
df[["Sepal.Length","Sepal.Width","Petal.Length","Petal.Width" ]].std()

Sepal.Length    0.828066
Sepal.Width     0.435866
Petal.Length    1.765298
Petal.Width     0.762238
dtype: float64

In [ ]:
### Create a function to half the data value

In [90]:
def half(x):
    return x * 0.5

In [91]:
half(4)

2.0

In [94]:
df

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [93]:
df["Sepal.Length"].apply(half)

0      2.55
1      2.45
2      2.35
3      2.30
4      2.50
       ...
145    3.35
146    3.15
147    3.25
148    3.10
149    2.95
Name: Sepal.Length, Length: 150, dtype: float64

In [95]:
df[["Sepal.Length", "Sepal.Width"]].apply(half)

     Sepal.Length  Sepal.Width
0            2.55         1.75
1            2.45         1.50
2            2.35         1.60
3            2.30         1.55
4            2.50         1.80
..            ...          ...
145          3.35         1.50
146          3.15         1.25
147          3.25         1.50
148          3.10         1.70
149          2.95         1.50

[150 rows x 2 columns]

In [96]:
def double(s):
    return s*2

In [97]:
double(5)

10

In [98]:
df["Petal.Length"].apply(double)

0       2.8
1       2.8
2       2.6
3       3.0
4       2.8
       ...
145    10.4
146    10.0
147    10.4
148    10.8
149    10.2
Name: Petal.Length, Length: 150, dtype: float64

In [99]:
df[["Petal.Length", "Petal.Width"]].apply(double)

     Petal.Length  Petal.Width
0             2.8          0.4
1             2.8          0.4
2             2.6          0.4
3             3.0          0.4
4             2.8          0.4
..            ...          ...
145          10.4          4.6
146          10.0          3.8
147          10.4          4.0
148          10.8          4.6
149          10.2          3.6

[150 rows x 2 columns]

In [100]:
df

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

### Check minimum values in all columns

In [101]:
df.min()

Sepal.Length       4.3
Sepal.Width        2.0
Petal.Length       1.0
Petal.Width        0.1
Species         setosa
dtype: object

### Check maximum values in all columns

In [102]:
df.max()

Sepal.Length          7.9
Sepal.Width           4.4
Petal.Length          6.9
Petal.Width           2.5
Species         virginica
dtype: object

### In-biult methods 
### Find value_counts for the categorical column Species

In [103]:
df["Species"].value_counts()

setosa        50
versicolor    50
virginica     50
Name: Species, dtype: int64

In [ ]:
### Sort values in column

In [105]:
df.sort_values(by="Sepal.Length")

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
13            4.3          3.0           1.1          0.1     setosa
42            4.4          3.2           1.3          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
41            4.5          2.3           1.3          0.3     setosa
..            ...          ...           ...          ...        ...
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
135           7.7          3.0           6.1          2.3  virginica
131           7.9          3.8           6.4          2.0  virginica

[150 rows x 5 columns]

In [107]:
df.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000